@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}

.container.video{
    width: 100%;
    height: 100dvh;
    padding: 0.1px;
    position: relative;
    padding: 0.1px;
}
.item-logo{
    width: 400px;
    position: absolute;
    top: 180px;
    left: 34%;
    margin: auto;
    /*filter: drop-shadow(0px 0px 20px  white);*/
    filter: opacity(70%) blur(3px);
    
}
.item-title{
    position: absolute;
    top: 288px;
    left: 40%;
    margin: auto;
    color:  white;
    z-index: 10;
    font-family: 'Anton', sans-serif;
    font-size: 90px;
    filter: drop-shadow(0px 0px 5px  white);
}

.container-menu{
    margin-top: -10px;
    width: 100%;
    height: 300dvh;
    background-color: #E1CEE6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* -----------circulos--------------- */

/* -----------circulos--------------- */


.main-menu{
    margin: auto;
    width: 850px;
    height: 280dvh;
    background-color: #f9e6d5;
    z-index: 10px;
    border: 2px solid #b78df2c6;
}

.container1{
    margin: 0;
    width: 100%;
    height: 20dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #b78df2c6;

}

.title-menu{
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    filter: drop-shadow(0px 0px 5px  white); 
   
}

.title-menu-2{
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
   
}

.container2{
    display: flex;
    width: 100%;
    height: 240dvh;
    flex-direction: column;
    flex-wrap: wrap;
}

.display{
    width: 50%;
    height: 100%;
    border-bottom: 2px solid #B78DF2;
    display: flex;
    align-items: baseline;
}

.display1{
    border-right: 2px solid #B78DF2;
    display: flex;
    flex-direction: column;
}

.entradas{
    width: 100%;
    height: 20%;
    left: 30px;
}

.title-dish{
    margin: 5%;
}

.container-b{
    display: flex;
    justify-content: baseline;
}

ul{
    list-style: none;
}
li{
    margin: 10px;
}

.comida{
    margin-left: -20px;
}

.precios{
    margin-right: 10px;
}

.precios li{
    margin: 19px;
}

.item-img-1{
    width: 100%;
    height: 20%;
  
    background-color: #b78df22b;
}


.item-img-1 img{
    width: 90%;
    height: 90%;
    border-radius: 10%;
    margin-left: 5%;
    margin-top: 4%;
}

.platos{
    width: 100%;
    height: 23%;
    left: 30px;
    border-top: 2px solid #B78DF2;
}

.del-mar{
    width: 100%;
    height: 22%;
    left: 30px;
    border-top: 2px solid #B78DF2;
}

.display2{
    display: flex;
    flex-direction: column;
}

.bebidas{
    width: 100%;
    height: 42%;
}

.vinos{
    width: 100%;
    height: 16%;
    background-color: #4c1b909a;
}
.vinos h2{
    color: #f9e6d5;
}
.vinos li{
    color: #f9e6d5;
}

.item-img-2{
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;

}
.item-img-2 img{
    width: 90%;
    height: 90%;
    border-radius: 20%;
    margin-left: 5%;
    margin-top: 4%;
}

.item-img-3{
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;
    background-color: #b78df22b;
    align-self: flex-end;
}
.item-img-3 img{
    width: 90%;
    height: 90%;
    border-radius: 20%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    filter: opacity(87%);
}
.postres{
    margin-top: 5%;
}

.footer-sect{
    width: 100%;
    height: 250px;
    background-color:  #E1CEE6;
    border-top: 2px solid #B78DF2;
    display: flex;
    align-items: flex end;
}
.footer-container{
    margin: auto;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item-footer-1{
    width: 70%;
    height: 100%;
}
.item-logo-footer{
    width: 150px;
    filter: opacity(70%) blur(3px);
    position: relative;
}
.title-footer{
    margin-left: 15%;
    margin-top: 4%;
}
.item-footer-1{
    display: flex;
    flex-direction: column;
}
.footer-abajo{
    width: 100%;
    height: 20%;
}
.logo-mini{
    width: 30px;
    margin-top: 5%;
}